@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        @using (Html.BeginForm("Index", "ApiWidget" , FormMethod.Post))

        {
           <button type="submit">Call api</button>
        }
        </body>
    </html>




